fastapi
uvicorn[standard]
sqlalchemy
pydantic[email]
pydantic-settings
python-dotenv
python-multipart
loguru
slowapi
passlib[bcrypt]
python-jose[cryptography]
scikit-learn
xgboost
joblib
pandas
numpy
python-docx
email-validator
psycopg2-binary
groq
